json5==0.9.24
pycryptodome==3.20.0
pyfiglet==1.0.2
pypinyin==0.49.0
rich==13.7.1
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
json5==0.9.24
pycryptodome==3.20.0
PyExecJS==1.5.1
requests==2.31.0
six==1.16.0
urllib3==2.2.1
fake_useragent==1.1.3